<%- include('./header.ejs'); %>
<br>
<h1>Добавить памятник</h1>
<br>
<% errors.map((e,i)=>{ %>
    <div class="alert alert-danger">
    <%= e.msg %> 
    </div>
<% }) %> 
<form action="" method="POST">
    <div class="form-group">
        <label for="name">Название памятника</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="region">Регион</label>
        <select class="form-control" name="region" id="region">
            <% regions.map(e=>{ %> 
            <option value="<%= e.id %>"><%= e.name %> </option>
            <% }) %> 
          </select>
    </div>
    <div class="form-group">
        <label for="creator">Создатель</label>
        <input type="text" class="form-control" id="creator" name="creator">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Дата создания</label>
        <input type="date" class="form-control" id="createdDate" name="createdDate">
    </div>
    <div class="form-group">
        <label for="сondition">Состояние</label>
        <select class="form-control" name="condition" id="condition">
            <% conditions.map(e=>{ %> 
            <option value="<%= e.id %>"><%= e.name %> </option>
            <% }) %> 
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Добавить">
    </div><!-- /.form-group -->
</form>
<%- include('./footer.ejs'); %>