<%- include('./header.ejs'); %>
<br>
<h1>Изменить памятник</h1>
<br>
<% errors.map((e,i)=>{ %>
    <div class="alert alert-danger">
    <%= e.msg %> 
    </div>
<% }) %> 
<form action="" method="POST">
    <div class="form-group">
        <label for="name">Название памятника</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" required>
    </div>
    <div class="form-group">
        <label for="region">Регион</label>
        <select class="form-control" name="region" id="region">
            <% regions.map(e=>{ %> 
            <option value="<%= e.id %>" <% if(e.id == data.region){ %> selected <% } %> ><%= e.name %> </option>
            <% }) %> 
          </select>
    </div>
    <div class="form-group">
        <label for="creator">Создатель</label>
        <input type="text" class="form-control" id="creator" name="creator" value="<%= data.creator %>">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Дата создания</label>
        <input type="date" class="form-control" id="createdDate" name="createdDate" value="<%= data.createdDate %>">
    </div>
    <div class="form-group">
        <label for="сondition">Состояние</label>
        <select class="form-control" name="condition" id="condition">
            <% conditions.map(e=>{ %>
            <option value="<%= e.id %>" <% if(e.id == data.condition){ %> selected <% } %> ><%= e.name %> </option>
            <% }) %> 
          </select>
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" id="description" name="description" rows="3">
            <%= data.description %> 
        </textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Изменить">
    </div><!-- /.form-group -->
</form>
<%- include('./footer.ejs'); %>