<%- include('./header.ejs'); %> 
<br>
<h1>Список памятников</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Регион</th>
            <th scope="col">Создатель</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Состояние</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        <% monuments.map((e,i)=>{ %>
        <tr>
            <td><%= e.name %></td>
            <td><%= e.region %></td>
            <td><%= e.creator %></td>
            <td><%= e.createdDate %></td>
            <td><%= e.condition %></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="edit/<%= e.id %> " class="btn btn-secondary"><i class="fas fa-edit"></i></a>    
                    <a href="delete/<%= e.id %> " class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
<%- include('./footer.ejs'); %>