<%- include('./header.ejs'); %> 
<br>
<div class="d-flex w-100 justify-content-between align-items-center">
    <h1><%= data.name %></h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/edit/<%= data.id %> " class="btn btn-outline-secondary"><i class="fas fa-edit"></i></a>    
        <a href="/delete/<%= data.id %> " class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
<br>
<table class="table mb-4">
    <tbody>
      <tr>
          <th>Регион</th>
          <td><%= !data.region ? 'Регион удален' : data.region.name %></td>
      </tr>
      <tr>
          <th>Создатель</th>
          <td><%= data.creator %></td>
      </tr>
      <tr>
        <th>Дата создания</th>
        <td><%= data.createdDate %></td>
    </tr>
      <tr>
        <th>Состояние</th>
        <td><%= !data.condition ? 'Состояние удалено' : data.condition.name %></td>
    </tr>
    </tbody>
  </table>
  <h2 class="mb-4">Описание</h2>
  <div class="description">
      <%- data.description %> 
  </div>
<%- include('./footer.ejs'); %>